/* Modal Base CSS */
.modal, .modal * {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #000;
}

/* Class bound to the body element when modal is open */
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* Responsive */
@media (min-width: 544px) {
  .modal-dialog {
    max-width: 600px;
    margin: 30px auto;
  }

  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 900px;
  }
}

/* Modal Animations CSS */

/* Fade */
.fade {
  opacity: 0;
  transition: opacity .15s linear;
  transition-delay: .3s;
}
.fade.in {
  opacity: 1;
  transition-delay: 0s;
}

.modal.fade .modal-dialog {
  transform: none;
  opacity: 0;
  transition: opacity .3s ease-out;
  transition-delay: 0s;
}

/* Zoom */
.zoom {
  opacity: 0;
  transition: opacity .15s linear;
  transition-delay: .3s;
}
.zoom.in {
  opacity: 1;
  transition-delay: 0s;
}

.modal.zoom .modal-dialog {
  transition: transform .3s ease-out;
  transform: scale(0);
  transition-delay: 0s;
}

/* Slide */
.slide {
  opacity: 0;
  transition: opacity .15s linear;
  transition-delay: .3s;
}
.slide.in {
  opacity: 1;
  transition-delay: 0s;
}

.modal.slide .modal-dialog {
  opacity: 0;
  transform: translate(0, -25%);
  transition: opacity .3s ease-out, transform .3s ease-out;
  transition-delay: 0s;
}

/* Animation End States */
.modal.in .modal-dialog {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0) scale(1);
  transition-delay: .15s;
}

.modal-backdrop.in {
  opacity: .6;
}
